.header {
  background-color: #081e3d;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  // position: absolute;     //This destroys my container
  // left: 0;
  // right: 0;

  // .container {
  //   max-width: 73.125rem;
  //   max-height: 3rem;
  // }
}

.section {
  // for the header to have the background color over the full width not only for the container
  background-color: #081e3d;
}
.container {
  max-width: 73.125rem;
  max-height: 3rem;
  margin: 0 auto;
}

.topLinks {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  list-style: none;
}

// a {                // works but only for all <a> and the footer <a> are default black
//   color: white;
// }
.main {
  background: linear-gradient(360deg, #000517 25%, #092144 100%);
  text-align: center;
  display: block;
}
.h1 {
  display: block;
  // text-align: center;
  color: white;
}

.h2 {
  display: block;
  text-align: center;
  color: white;
}
p {
  font-size: 24px;
  color: rgb(180, 188, 208);
  text-align: center;
}

.pResearch {
  font-size: 19px;
  color: rgb(180, 188, 208);
}

// .person {
// want to make the pictures round but doesn't work. works with style {{}} in app.js though.
//   border-radius: 50%;
//   overflow: hidden;
// }

.span {
  font-weight: bold;
  font-size: 20px;
  color: white;
  line-height: 26px;
}

.description {
  font-size: 18px;
  color: white;
}
footer {
  text-align: center;
  display: inline;
}
